name: All Platforms

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2025]
        build_type: ['Release', 'Debug']
        link_type: ['static', 'shared']
        include:
          - link_type: static
            BUILD_SHARED_LIBS: OFF
          - link_type: shared
            BUILD_SHARED_LIBS: ON

    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: |
        cmake -B ${{github.workspace}}/build-${{matrix.link_type}}-${{matrix.build_type}} -DBUILD_SHARED_LIBS=${{matrix.BUILD_SHARED_LIBS}} -DCMAKE_INSTALL_PREFIX="${{github.workspace}}/install-${{matrix.link_type}}-${{matrix.build_type}}"
        cmake --build ${{github.workspace}}/build-${{matrix.link_type}}-${{matrix.build_type}} --config ${{matrix.build_type}} --target install
      
    - name: list
      run: |
        cmd.exe /c dir * /s /n /a-h 
        cmd.exe /c echo "${{github.workspace}}/install-${{matrix.link_type}}-${{matrix.build_type}}" /s /n /-ah
    - name: compress
      run: tar zcvf pthread-win32_latest-${{matrix.link_type}}-${{matrix.build_type}}.tar.gz --directory=${{github.workspace}}/install-${{matrix.link_type}}-${{matrix.build_type}} --exclude=CMakeFiles --exclude=*.cmake --exclude=Makefile --exclude=rtl_app_ver.h .
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu_latest_build
        path: pthread-win32_latest-${{matrix.link_type}}-${{matrix.build_type}}.tar.gz
